# Игнорировать все файлы и папки
/build
/dev
# Игнорировать venv
.venv

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать все временные файлы
*~

# Игнорировать все файлы конфигурации
*.config